html, body {
    height: 100%;
    margin: 0; padding: 0;
  }

.main_Body {
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 5fr;
}
.menu {
    border: 2px red solid;
    display: grid;
    align-items: normal;
}
.menu button{
    width: 30%;
    height: 30%;
    align-self: center;
    margin: 0 auto;  
}
.drawing{
    display: grid;
    width: 500px;
    height: 500 px;
}
